:root {
  --dark-background: #181818;
  --light-background: #303030;
  --accent-color: #007BFF;
  --hover-green: rgb(21, 123, 21);
  --hover-red: rgb(192, 8, 8);
}

.details-movie {
  display: flex;
  margin: auto;
  margin-right: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.details-info-movies {
  margin: auto;
  padding-right: 10px;
}

.image-perfi-details {
  width: max-content;
  height: max-content;
  margin: 20px;
}

.info-details {
  padding: 50px;
  background-color: var(--dark-background);
  border: 1px solid var(--light-background);
  margin-right: 10px;
  border-radius: 20px;
}

.info-details h1 {
  font-size: 70px;
  color: #f1f1f1;
}

.info-details h3 {
  font-size: 30px;
  color: #adacac;
  margin: 0;
}

.info-details h5 {
  font-size: 15px;
}

.details-details {
  display: flex;
  justify-content: space-around;
  color: #adacac;
  align-items: center;
  padding-right: 10px;
}

.div-generes-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-details a {
  text-decoration: none;
  color: var(--accent-color);
}

.links-details {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-around;
}

.homepage-link{
  background-color: var(--dark-background);
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 50px;
  border-radius: 20px;
  text-align: center;
  margin-top: 50px;
  transition: box-shadow 0.3s ease;
  animation: borderAnimation 2s infinite;
}

.credits-link{
  background-color: var(--dark-background);
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 50px;
  border-radius: 20px;
  text-align: center;
  margin-top: 50px;
  transition: box-shadow 0.3s ease;
  animation: borderAnimation 2s infinite;
}

.btn-common {
  border: 1px solid var(--dark-background);
  border-radius: 20px;
  padding-left: 17%;
  padding-right: 17%;
  background-color: var(--dark-background);
  transition: box-shadow 0.3s ease;
  animation: borderAnimation 2s infinite;
}

.btn-show-more,
.btn-show-less,
.btn-addToFavorites {
  color: #f1f1f1;
  font-size: 15px;
  padding: 5px;
}

.btn-show-more:hover {
  background-color: var(--hover-green);
}

.btn-show-less:hover {
  background-color: var(--hover-red);
}


@keyframes borderAnimation {
  0% {
    box-shadow: 0.5px 0 0 2.5px rgba(255, 69, 0, 0.5);
  }
  25% {
    box-shadow: 0.5px 0 0 2.5px rgba(30, 144, 255, 0.5);
  }
  50% {
    box-shadow: 0.5px 0 0 2.5px rgba(218, 112, 214, 0.5);
  }
  75% {
    box-shadow: 0.5px 0 0 2.5px rgba(30, 144, 255, 0.5);
  }
  100% {
    box-shadow: 0.5px 0 0 2.5px rgba(255, 69, 0, 0.5);
  }
}

.btn-addToFavorites {
  width: 50px;
  height: 45px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
  animation: borderAnimation 2s infinite;
}

.reviews,
.similar-movies,
.watch-providers,
.recommendations-series {
  background-color: var(--dark-background);
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  margin-top: 50px;
  transition: box-shadow 0.3s ease;
  animation: borderAnimation 2s infinite;
}

.btn-show-more,
.btn-show-less {
  color: #f1f1f1;
  font-size: 15px;
  padding: 5px;
}

.btn-show-more:hover {
  background-color: var(--hover-green);
}

.btn-show-less:hover {
  background-color: var(--hover-red);
}
